  html {
  font-size: 10px;
}
*{
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  background: rgb(244, 244, 244);
  color: #333;
}

p{
  font-size: 1.6rem;
}
small{
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}
.title {
  font-size: 4.4rem;
  text-align: center;
}
/* SEARCH */

.form {
  margin: 0 auto;
  display: grid;
  
  width: 100%;
}
.label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}
.input {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}
.button {
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  padding: 1rem 2rem ;
  border: 1px solid  rgba(0,0,0,0.75); 
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition:  background-color 250ms;
}

.button:hover {
  background-color: rgba(0,0,0,0.85) ;
}

@media(min-width:786px){
.form {
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
}
.input {
  margin-bottom: 0;
}
}
/* CARD  */

.card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  grid-gap: 3rem;
  margin-top: 4rem;
}
.card {
  margin-bottom: 10px;
  width: 90%;
  padding: 1rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin: 14px auto;
  background-color: #fff;
}
.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.card--image {
  margin: 0 auto;
  display: block;
}  
@media (min-width:690px){
  .card-list {
   display: grid;
   grid-template-columns: auto auto;


  }
  .card {
    min-width: 300px;
    margin: 0 auto;
  }
}
@media (min-width:1200px){
  .card-list {
    grid-template-columns: auto auto auto;
  }
}

/* END OF FIRS VERSION */